/* .box {
    height: 100px;
    width: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
} */

.main-nav {
    height: 75px;
    background-color: #333;
}

.main-nav:hover {
    height: 85px;
}
/*allows you to enlarge or change whatever you specify to enlarve or change. Links are examples. */

.logo {
    height: 50px;
    padding: 10px;
}

.logo-hover {
    height: 66px;

}
.nav-list{
    float: right;
    list-style-type: none;
}

li {
    color: #fff;
    float: left;
    padding: 14px 16px;
}

li:hover {
    font-size: 30px;
    padding: 5px 16px;
}

.center {
    text-align: center;

}
/* content styles*/
.content {
    height: 85vh;
}
/* content styles end*/

/* footer styles*/
.footer {
    background-color: brown;
}

.audio-video
/* content styles*/
.content {
    height: 85vh;
}

/* content styles end*/

/* footer styles*/
.footer {
    background-color: brown;
}

.social-media {
   height: 50px;
   margin-bottom: 0;
   list-style-type: none;
}

{
    color: white;
    text-decoration: none;
}
/* footer styles end*/