/* .box {
    height: 100px;
    width: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
} */

.main-nav {
    height: 75px;
    background-color: #333;
}

.main-nav:hover {
    height: 85px;
}
/*allows you to enlarge or change whatever you specify to enlarve or change. Links are examples. */

.logo {
    height: 50px;
    padding: 10px;
}

.logo-hover {
    height: 66px;

}
.nav-list{
    float: right;
    list-style-type: none;
}

li {
    color: #fff;
    float: left;
    padding: 14px 16px;
}

li:hover {
    font-size: 30px;
    padding: 5px 16px;
}

.center {
    text-align: center;

}
/* content styles*/
.content {
    height: 85vh;
}

.map-frame {
    width: 100%;
}

.audio {
    width: 560px;
}

.video {
    width: 560px;
}

.margin-0-auto {
    margin: 0 auto;
}

.button {
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    color: white;
}

.button-success {
    border: 1px solid #fff;
    background: green;
    width: 150px;
}  

.button-default {
    background: #ccc;
    color: black;
}
.button-danger{ 
    width: 250px;
    background: red;
    color: white;
}

.button-small {
    width: 150px;
}

span {
    background-color: yellowgreen;
}

.family > span {
    background-color: orange;
}

.second-span ~ .frist-span {
    color:red;
}

ul.social-media> li {
    padding: 20px 24px;
}
/* content styles end*/

/* footer styles*/
.footer {
    background-color: brown;
}

.social-media {
   height: 50px;
   margin-bottom: 0;
   list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}
/* footer styles end*/

/*media query*/

@media (max-width: 760px) /*any device that has a max width of 760px, change it to these specifications below. This scales down the information in order to fit the screen widths.*/ {
    .button {
        font-size: 18px;
    }
}

@media (min-width:768) and (max-width: 1024px) {
    .button {
        font-size: 22px;
    }
}

@media (min-width:1024px) and (max-width: 1024px) {
    .button {
        font-size:20px;
    }
}